/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache



### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/k
/nbdist/
/.nb-gradle/

*.doc
*.docx
*.xls
*.xlsx
/bin/
/.idea/
